<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>People & Hobbies</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="bg-gray-100 min-h-screen p-10">
        <!-- FORM -->
        <form action="/login" method="POST" class="space-y-4 mb-8">

            <div>
                <label class="block text-sm font-medium text-gray-700">Name</label>
                <input name="nome" type="text" required
                    class="mt-1 w-full border rounded-lg p-2 focus:ring focus:ring-blue-200" />

                <label class="block text-sm font-medium text-gray-700">Senha</label>
                <input name="password" type="password" required class="mt-1 w-full border rounded-lg p-2 focus:ring focus:ring-blue-200" />

                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
                    LOGIN
                </button>
            </div>


</body>

</html>